.social-container{
    margin-top: 3rem;
    background-color: transparent;
    padding-top: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
    /* margin-bottom: 0rem; */
}
